.container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #d8d8d8;
    background-position: center;
    background-size: cover;
}
.form-box{
    width: 380px;
    height: 480px;
    background-color: rgba(255,255,255,0.85);
    position: relative;
    margin: 6% auto;
    padding: 5px;
    border-radius: 15px;
    overflow: hidden;

    
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative; 
    box-shadow: 0 0 20px 9px #CCCCCC;
    border-radius:30px ;
}
.toggle-btn{
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:#101e49;
     /* linear-gradient(to right,#4f78e7,#6e94ee); */
    border-radius: 30px;
    transition: .5s;

}
.form-input{
    top: 180px;
    width: 280px;
    position: absolute;
    padding: 20px 10px 20px 20px;
    transition: .5s;
    

}
.input-feild{
    width: 100%;
    padding: 15px 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    color: white;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:auto;
    background: #101e49 ;
    /* linear-gradient(to right,#4f78e7,#6e94ee); */
    border: 0;
    outline: none;
    border-radius: 30px;
    align-items: center;
    
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
#lb{
    color: white;
}