.container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #d8d8d8;
    background-position: center;
    background-size: cover;
}
.form-box{
    width: 380px;
    height: 480px;
    background-color: rgba(255,255,255,0.85);
    position: relative;
    margin: 6% auto;
    padding: 5px;
    border-radius: 15px;
    overflow: hidden;

    
}




.input-feild{
    width: 100%;
    padding: 15px 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    color: white;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:auto;
    background: #101e49 ;
    /* linear-gradient(to right,#4f78e7,#6e94ee); */
    border: 0;
    outline: none;
    border-radius: 30px;
    align-items: center;
    
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
