{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Online Judge System</title>
       
    <link rel="stylesheet" href="{% static 'CSS/Styles.css' %}">
</head>

<body>
        <div class="homepage-wrapper">
            <div class="homepage-container">
                <div class="header">
                    <div class="flex">
                        <div class="flexItemLogo">
                            <div class="logo"><img alt="Logo"
                                    src="{% static 'img/Animated1.gif' %}" />
                            </div>
                        </div>
                        <div class="buttons">
                            <div class="button"><span class="buttonText">About Developers</span></div>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <h1 class="title">This is where you will Submit the Code!!</h1>
                    <div class="flexitemWrap">
                        <div class="flexitem">
                            <div class="contentWrap"><span class="sectionTitle">Teachers</span>
                                <h3 class="contentTitle">Campus Community</h3>
                                <p class="description">Now you won't need to take a Wordfile of Student records.
                                    Hoping you ain't Student Signing up as Teacher!! haha.
                                </p><a class="loginPage" href="{% url 'login' %}">Join now</a>
                            </div>
                        </div>
                        <div class="flexitem">
                            <div class="contentWrap"><span class="sectionTitle">Students</span>
                                <h3 class="contentTitle">Coding is Fun</h3>
                                <p class="description">Have you ever bored of Wordfile for submitting your Assignments?? If Yes, No Worries! from now on.
                                    You won't need to do it.Sign up for free.
                                </p><a class="LoginPage" href="{% url 'login' %}">Join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>  

</html>