
{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{% static 'CSS/Style.css' %}">
    <title>OnlineJudgeSystem</title>
</head>
<header>
    <nav>
        <ul>
                <li><a href = "#">Home</a></li>
                <li><a href = "#Explore">Explore</a></li>
                <li><a href = "#">Practice</a></li>
                <li><a href = "#">Leaderboard</a></li>
                <li><a href = "#">Notification</a></li>
                <li><a href = "{% url 'Profile' %}">Profile</a></li>
            </ul>
        <img class = "headerPic" src = "{% static 'img/OnlineSystem.gif' %}" alt = "AnimatedGif"/>
    </nav>
</header>
<body>

<article class = "Intro">
    <p class = "Description">Coding is Fun!!</p>
    <img src =" {% static 'img/63921-developer.gif' %}" alt = "Animated Gif"/>
</article>
<div id = "Explore">
    <h2>Explore</h2>
    <div class="Box">
        <p class="boxtitle">Semester - 1</p>
        <h1 class="boxheader">The Problem Solving Through C</h1>
        <p class="topics">Variables,Control Constructs, Loops,Arrays,Pointers</p>
        <div class="Btns"><a class="Btn" href="">Start Learning</a></div>
        <img class="c-adjust" src="{% static 'img/C.png' %}" alt = "C"/>
    </div>

    <div class="Box">
        <p class="boxtitle">Semester - 2</p>
        <h1 class="boxheader">OOP with C++</h1>
        <p class="topics">Variables,Control Constructs, Loops,Arrays,Pointers</p>
        <div class="Btns"><a class="Btn" href="">Start Learning</a></div>
        <img class = "Boximg" src="{% static 'img/C++.png' %}" alt = "C++"/>
    </div>

    <div class="Box">
        <p class="boxtitle">Semester - 3</p>
        <h1 class="boxheader">Programming With Java</h1>
        <p class="topics">Variables,Control Constructs, Loops,Arrays,Pointers</p>
        <div class="Btns"><a class="Btn" href="{% url 'questionsList' %}">Start Learning</a></div>
        <img class = "Boximg" src="{% static 'img/Java.png' %}" alt = "Java"/>
    </div>

    <div class="Box">
        <p class="boxtitle">Semester - 4</p>
        <h1 class="boxheader">Python Programming</h1>
        <p class="topics">Variables,Control Constructs, Loops,Arrays,Pointers</p>
        <div class="Btns"><a class="Btn" href="">Start Learning</a></div>
        <img class = "Boximg" src="{% static 'img/Python.png' %}" alt = "Python" />
    </div>
    <hr id = "Dotted-hr">
</div>
</body>

</html>
