{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel = "stylesheet" href = "{% static 'CSS/Style.css' %}">
</head>

<header>
    <nav>
        <ul>
            <li><a href = "{% url 'main' %}">Home</a></li>
            <li><a href = "{% url 'index' %}">Join</a></li>
            <li><a href = "{% url 'main' %} " >Explore</a></li>

            <li><a href = "{% url 'Profile' %}">Profile</a></li>
        </ul>
        <img class = "headerPic" src = "{% static 'img/OnlineSystem.gif' %}" alt = "AnimatedGif"/>
    </nav>
</header>
<iframe src = "https://www.online-ide.com/xFBUeQcXRi"></iframe>
<section class = "ProblemSet">
    <h2 class = "ProblemHeader" style="font-size: 25px;">{{lists.heading|title}}</h2>
    <ul class = "Difficulty">
        <li>Difficulty:<strong> {{lists.difficulty}}</strong> </li>
        <li>Accuracy: <strong> {{lists.accuracy}}%</strong> </li>
    </ul>
    <hr class = "ProblemSections">
    <p class = "ProblemStatement" style="width: 50vw; font-size: 25px;">{{lists.long_description}}
    </p>
    <hr class = "ProblemSections">
    <h4>Example:1</h4>
    <div class = "Example">
        <p><strong>Input </strong>:{{lists.example_1.input}}</p>
        <p><strong>Output</strong>: {{lists.example_1.output}}</p>
    </div>
    <br>
    <br>
    <hr class = "ProblemSections">

    <h4>Example:2</h4>
    <div class = "Example">
        <p><strong>Input </strong>:{{lists.example_2.input}}</p>
        <p><strong>Output</strong>: {{lists.example_2.output}}</p>
    </div>
    <!-- <h4>Constraints:</h4>
    <ul class = "Constraints">
        <li>1 <= nums.length <= 5000</li>
        <li>-104 <= nums[i] <= 104</li>
        <li>All values of nums are unique.</li>
        <li>nums is an ascending array that is possibly rotated.</li>
        <li>-104 <= target <= 104</li>
    </ul> -->
    <br>
    <br>
    <hr class = "ProblemSections">
</section>
</html>
