

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'CSS/login_register.css' %}">
        
</head>
<body>
      <div class="container">
           <div class="form-box">
              
                  
                   <button type="submit" class="submit-btn " id="lb" name="login" style="margin: 10px;">Register</button>

                                 
                 <form action="" id ="login" class="form-input"  method="POST">
                    {% csrf_token %}
                    <input type="text" class="input-feild" placeholder="UserID" name="username" required>
                    <input type="email" class="input-feild" placeholder="EmailID" name="email" required>
                    <input type="password" class="input-feild" placeholder="Password" name="password" required>
                    <br>
                    <br>
                    <br>
                    <!-- {{form.as_p}} -->
                    <button type="submit" class="submit-btn" name="register">Register</button>
                </form>
                <h5 style="padding-left: 100px;">Already an user ?? <a href="{% url 'login' %}">LogIn</a></h5>
                 
           </div>
           

      </div>   
      
</body>
</html>